
body{
    position: relative;
    margin:0;
    padding:0;
}
header {
    background-color:#e8e8e8;
}
header .navbar-brand{
    margin-top:0px;
    font-size:24px;
    color:#337ab7;
}
header .description{
    font-size:16px;
    position: absolute;
    margin-left:150px;
    margin-top:15px;
    color:#555555;
}
header .nav a {
    padding-top: 18px;
    font-size:16px;
}

header .nav li.active a {
    font-weight: bold;
}
.icon-bar {
    background-color: #337ab7;
}

.ip-content {
    /*margin-top:20px;*/
}

.ip-side-nav {
    margin-top:20px;
}
.ip-side-nav>li>a{
    font-size:13px;
    padding:1px 10px;
    /*color:#555555;*/
}

.ip-side-nav ul.nav>li>a {
    font-size:13px;
    display: block;
    padding: 0px 20px;
}

.affix {
    top:0px;
}

.ml10 {margin-left:10px;}
.mr10 {margin-right:10px;}
.mt10 {margin-top:10px;}
.mt20 {margin-top:20px;}

.inline-block { display: inline-block; }
section {
    margin-bottom:20px;
}

section h4 {
    margin-top:20px;
}

.hljs {
    background-color: #f5f5f5;
}